# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Dropbox (Politecnico Di Torino Studenti)\my_work\ML_Pattern\lab_general\.idea/dataSources/
/../../../../../../:\Dropbox (Politecnico Di Torino Studenti)\my_work\ML_Pattern\lab_general\.idea
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
